/* here goes footer styling */
.container{
    display:flex;
    justify-content: space-between;
    background-color: #F9CAAB  ;
    color: black;
    
}
.footer{
    margin:8px;
}
.socials{
    display:flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    margin:8px;
}
.item{
    align-self: flex-start;
}